[project]
	description = RDO Project Website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/edannon
[access "refs/for/refs/*"]
	read = group user/edannon
	push = group user/edannon
	label-Code-Review = -2..+2 group user/edannon
	label-Verified = -1..+1 group user/edannon
	rebase = group user/edannon
	removeReviewer = group user/edannon
	submit = group user/edannon
[access "refs/heads/*"]
	read = group user/edannon
	create = group user/edannon
	push = +force group user/edannon
	pushMerge = group user/edannon
[access "refs/tags/*"]
	push = +force group user/edannon
	pushTag = group user/edannon
	pushSignedTag = group user/edannon
